{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets":{
                    "node": true
                }
            }
        ]
    ]
}

//aqui se configuran los presets 